.user-item{
    text-align: right;
}

.user-item-image{
    width: 75%;
    height: 10px;
    margin-top: 2rem;
    background-color: blanchedalmond;
}
.user-item-text{
    font-size: 5px;
    color:black
}