.user-item{
    text-align: right;
}

.user-item-image{
    align-content: center;
    flex:1;

   
}
.user-item-text{
      font-size: 5em;
      flex-direction: row;
      align-self: center;
}
