.user-item{
    text-align: right;
}

.user-item-image{
    align-content: center;
    padding: 15px;
    width: 50%;
}
.user-item-text{
      font-size: 5em;
      flex-direction: row;
      align-self: center;
}
