.card {
    display: inline-table;
    color: rgb(234, 234, 0);
    background-color: rgb(31, 30, 30);
    width: 30%;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(113, 50, 50, 0.25);
    margin-bottom: 1rem;
    margin-inline: 1rem;
  }
  .user-class-img {
    
    width: 15%;
    /* border-radius: 100%; */
    padding: 12px;
  }
  