.user-class-name {
    font-size: 1.2em;
} 
@media (min-width: 580px) {
    .user-class-name {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
    .user-class-name h2 {
      font-size: 1em;
    }
    .user-class-img {
      display:flex;
      flex-direction: column;
      flex: 1;
       width:50%;
       height:50%;
    } 
}